.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(282deg, var(--pink) 0%, var(--purple) 94%);
}

.main-section_wrapper {
  width: calc(100% - 15px * 2);
  max-width: 738px;
  margin: 0 auto;
  perspective: 1500px;
}

.main-section_image-wrapper {
  --image-width: 300;
  --image-height: 400;
  position: relative;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 1px 5px #00000099;
  margin: 0 auto;
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);

  & .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
    opacity: 0.5;
  }

  &:hover {
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px #00000044;
  }
}


.main-section_content {
  margin-top: 30px;
  text-align: center;

  & p {
    margin-top: 10px;
  }
}
